@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400&display=swap");

:root {
  --primary-color: rgb(141, 141, 141); /* Not Completed */
  --secondary-color: rgb(200, 200, 200); /* Not Completed */
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans serif;
  letter-spacing: 0.1em;
  color:white;
}

html{
  background-color: var(--primary-color);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/woods-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.intro-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 1em;
  padding: 10px;
  text-align: center;
  color: var(--primary-color);
  font-size: xx-large;
  font-weight: 600;
}

#main-title{
  margin: unset;
}

.text {
  padding: 0 1%;
  height: 9rem;
  align-items: center;
  line-height: 1.5rem;
  font-size: 1.3rem;
}

#intro {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
  /* padding: 1.5em; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.paragraphs-slide {
  position: relative;
  padding: 25px 50px;
  margin:1em;
  border: 0.5px groove var(--secondary-color);
  border-radius: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Next & previous buttons */
.prev,
.next {
  font-size: 1.5rem;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  cursor: pointer;
}

/* Position the "prev button" to the left */
.prev {
  border-radius: 0 50% 50% 0;
  left: 0;
}

/* Position the "next button" to the right */
.next {
  border-radius: 50% 0 0 50%;
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.intro-text10 span {
  color: red;
  font-weight: bold;
}

.characters {
  display: flex;
  padding: 3%;
  padding-top:unset;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.character-img {
  margin: 0 2rem;
  height: 370px;
}

.start-btn {
  display: none;
  position: fixed;
  bottom:10%;
  right:8%;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: red;
  border-radius: 10px;
  animation-name: startAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes startAnimation {
  0% {
    background-color: black;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: black;
  }
}

.option h3 {
  text-align: center;
  margin-top:1em;
  color: var(--secondary-color);
}

/* options style */
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* each option by itself */
.option {
  border: 1px solid var(--primary-color);
  padding: 1%;
  margin: 0 1%;
  transition: 0.2s ease-in-out all;
}

/* option after hover */
.option:hover {
  border: 1px solid black;
}

/* anchor style and background */
.option a {
  display: block;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Displaying the unwanted sections */
#characters,
#houses,
#home,
#living-room,
#bedroom,
#kitchen {
  display: none;
}

/* characters images */
.character-option:nth-child(1) a {
  background-image: url("../images/boy.png");
}
.character-option:nth-child(2) a {
  background-image: url("../images/girl.png");
}

/* houses images */
.house-option:nth-child(1) a {
  background-image: url("../images/houses/house2.png");
}
.house-option:nth-child(2) a {
  background-image: url("../images/houses/hut.png");
}

/* home images */
.home-option:nth-child(1) a {
  background-image: url("../images/green-door.png");
}
.home-option:nth-child(2) a {
  background-image: url("../images/red-door.png");
}
.home-option:nth-child(3) a {
  background-image: url("../images/green-door.png");
}

/* kitchen images */
.kitchen-option:nth-child(1) a {
  background-image: url("../images/kitchen/kitchen-cupboards.png");
}
.kitchen-option:nth-child(2) a {
  background-image: url("../images/kitchen/kitchen-fridge.png");
}
.kitchen-option:nth-child(3) a {
  background-image: url("../images/kitchen/kitchen-dishwasher.png");
}

/* bedroom images */
.bedroom-option:nth-child(1) a {
  background-image: url("../images/bedroom/bedroom-bookshelf.png");
}
.bedroom-option:nth-child(2) a {
  background-image: url("../images/bedroom/bedroom-drawer.png");
}
.bedroom-option:nth-child(3) a {
  background-image: url("../images/bedroom/bedroom-bedside-table.png");
}

/* living room images */
.living-room-option:nth-child(1) a {
  background-image: url("../images/salon/salon-sofa1.png");
}
.living-room-option:nth-child(2) a {
  background-image: url("../images/salon/salon-table.png");
}
.living-room-option:nth-child(3) a {
  background-image: url("../images/salon/salon-tv-stand.png");
}

/* ipad screen */
@media (max-width: 1100px) {
  .title {
    font-size: x-large;
  }
  .paragraphs-slide {
    padding: 60px;
    width: 70%;
  }
  .text {
    line-height: 1rem;
    font-size: medium;
  }
  .character-img {
    margin: 0 2rem;
    height: 300px;
  }
  .options {
    justify-content: center;
  }
  .option {
    margin: 2%;
  }
  .option a {
    width: 300px;
    height: 300px;
  }
}

/* phone screen */
@media (max-width: 600px) {
  .option a {
    width: 250px;
    height: 250px;
  }
  .options {
    flex-direction: column;
  }
  .options h3 {
    font-size: medium;
  }
  .start-btn {
    padding: 1.2em;
    right:1%;
  }
}

@media (max-width: 450px) {
  .start-btn {
    padding: 1em;
    right:5px;
    bottom:4%;
  }
  .text{
    height: 15rem;
  }
}

@media (max-width: 350px){
  .text{
    height: 17rem;
  }
}